# Heirs must be under their parents!

# = ABSTRACT ITEM

abstract-item:
  throwable: false
  pickable: false

# = WEAPONS

abstract-weapon:
  parent: abstract-item
  type: WEAPON
  throwable: true
  pickable: true
  attack-timer:
    min: 1.0
    max: 3.0
  limit: 0
  attack-distance: 1.0
  damage: 0.0

# == HAND

hand:
  parent: abstract-weapon
  texture: items/weapons/hand
  name: items.weapons.hand
  throwable: false
  pickable: false
  weapon-type: HAND
  attack-timer: 1.5
  damage: 5.0

# == SWORDS

abstract-sword:
  parent: abstract-weapon
  weapon-type: WEAPON_SWORD

wooden-sword:
  parent: abstract-sword
  name: items.weapons.wooden_sword
  texture: items/weapons/wooden-sword
  damage:
    min: 5.0
    max: 15.0
  attack-distance: 1.0

ultimate-sword:
  parent: abstract-sword

  name: items.weapons.ultimate_sword
  texture: items/weapons/ultimate-sword
  damage: 25.0
  attack-distance: 1.0

# == STAVES

abstract-staff:
  parent: abstract-weapon
  weapon-type: STAFF

beginner-staff:
  parent: abstract-staff
  name: items.weapons.beginner_staff
  texture: items/weapons/beginner-staff
  damage:
    min: 5.0
    max: 10.0
  attack-distance: 5.0

epic-staff:
  parent: abstract-staff
  name: items.weapons.epic_staff
  texture: items/weapons/epic-staff
  damage: 10.0
  attack-distance: 10.0

# == ORBS

light-orb:
  parent: abstract-weapon
  name: items.weapons.light_orb
  texture: items/weapons/light-orb
  weapon-type: ORB
  attack-distance: 20.0
  damage: 20.0
  limit: 1